/*-----------LOGO------------*/
$logoWidth: 45px;
$logoml: 20px;
$logoPosition:left;
$logoBack:black;
$circleBack: 100%;

/*----------Header-----------*/

$headerBack: rgb(59, 59, 72);

/*----------Main-------------*/
$mainBack: rgb(40, 42, 69);

/*SINGLE CARD*/
$singleCardW: 180px;